body {
    background-color: black;
    color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color: cornflowerblue;
    background-color: darkblue;
}

a {
    color: darkred;
}